.paginationContainer {
  background-color: white;
  display: flex;
  width: fit-content;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pageItem {
  list-style-type: none;
  display: flex;
  border: 1px solid rgb(221,221,221);
  border-radius: 20px;
  margin : 2px;
  cursor: pointer;
}
.pageItemActive {
  list-style-type: none;
  display: flex;
  border: 1px solid rgb(221,221,221);
  border-radius: 20px;
  cursor: pointer;
  margin : 2px;
}

.pageItemActive > .pageLink {
  color: white;
  background-color: rgb(86, 41, 182);
}

.pageLink {
  font-size: 14px;
  font-weight: 500;
  color: #444444;
  width: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 8px;
}

.pageItem:hover {
  background-color: rgb(221,221,221);
}
/* 
.pageLink:hover {
  color: white;
} */
/* .pageItemActive:hover {
  background-color: rgb(221,221,221);
} */

@media only screen and (max-width: 800px) {
  .mainPaginationContainer{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .paginationContainer {
    width: 90vw;
  }
}
